{% extends "base.html" %}

{% block content %}
  <h2>Projects</h2>
  <div class="projects">
    
    <div class="project-card">
      <h3>RESTAURENT PROJECT</h3>
      <p>delicious food,good taste visit us again</p>
      <a href="https://nagadevi.netlify.app" target="_blank">View Project</a><br>
      <img src="https://t3.ftcdn.net/jpg/03/24/73/92/360_F_324739203_keeq8udvv0P2h1MLYJ0GLSlTBagoXS48.jpg" height="200px" width="200px">
    </div>
      <div class="project-card">
      <h3>ALL-TAGS PROJECT</h3>
      <p>by using all tags in html to create a website </p>
      <a href="https://all-tags.netlify.app" target="_blank">view project</a>
      <img src="https://verpex.com/assets/uploads/images/blog/Basic-HTML-Codes-for-Websites.webp?v=1691760654" height="200px" width="200px">
    </div>
      <div class="project-card">
      <h3>RESUME PROJECT</h3>
      <p>this is my resume to apply a job purpose</p>
      <a href="https://resume13546.netlify.app" target="_blank">view project</a><br>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6cG3tQH12Exy_Dew0kMsAH9q61zpq0N9pdQ&s" height="200px" width="200px">
    </div>
      <div class="project-card">
      <h3>AI-PROJECT</h3>
      <p>this is the artificial intiligence project </p>
      <a href="https://aiml-blog.netlify.app" target="_blank">view project</a><br>
      <img src="https://media.istockphoto.com/id/1452604857/photo/businessman-touching-the-brain-working-of-artificial-intelligence-automation-predictive.jpg?s=612x612&w=0&k=20&c=GkAOxzduJbUKpS2-LX_l6jSKtyhdKlnPMo2ito4xpR4=" height="200px" width="200px">
    </div>
      <div class="project-card">
      <h3>PORTFOLIO PROJECT</h3>
      <p>all information about uppalapati prabhas raju</p>
      <a href="https://aasi-praba.netlify.app" target="_blank">view project</a><br>
      <img src="https://i.pinimg.com/736x/ab/03/d3/ab03d387134d4fc16d57c638fbb9383e.jpg" height="200px" width="200px">
      
    </div>
  </div>
{% endblock %}

